[Desktop Entry]
Type=Service
Actions=PlayDVD;
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'VideoDvd'

[Desktop Action PlayDVD]
Name=Play DVD with Kaffeine
Name[bg]=Възпроизвеждане на DVD с Kaffeine
Name[bs]=Izvođenje DVD-ova programom Kaffeine
Name[ca]=Reprodueix DVD amb Kaffeine
Name[ca@valencia]=Reprodueix DVD amb Kaffeine
Name[cs]=Přehrát DVD v Kaffeine
Name[csb]=Grôj DVD w Kaffeine
Name[da]=Afspil dvd med Kaffeine
Name[de]=DVD mit Kaffeine abspielen
Name[el]=Αναπαραγωγή DVD με το Kaffeine
Name[en_GB]=Play DVD with Kaffeine
Name[es]=Reproducir DVD con Kaffeine
Name[et]=Esita DVD Kaffeine'is
Name[eu]=Erreproduzitu DVDa Kaffeine-rekin
Name[fi]=Toista DVD-levy Kaffeinessa
Name[fr]=Lecture d'un DVD avec Kaffeine
Name[ga]=Seinn DVD le Kaffeine
Name[gl]=Reproducir o DVD con Kaffeine
Name[hr]=Reproduciraj DVD s Kaffeineom
Name[hu]=DVD lejátszása a Kaffeine-nel
Name[id]=Putar DVD dengan Kaffeine
Name[is]=Spila DVD með Kaffeine
Name[it]=Riproduci DVD con Kaffeine
Name[ja]=Kaffeine で DVD を再生する
Name[km]=ចាក់​ឌីវីឌី​ដោយ​ប្រើ​ Kaffeine
Name[ko]=Kaffeine으로 DVD 재생하기
Name[lt]=Groti DVD su Kaffeine
Name[lv]=Atskaņot DVD ar Kaffeine
Name[mr]=डीव्हीडी केफ्फेन मध्ये  प्ले करा
Name[nb]=Spill av DVD med Kaffeine
Name[nds]=DVD mit Kaffeine afspelen
Name[ne]=क्याफिनसँग डीभीडी प्ले गर्नुहोस्
Name[nl]=DVD met Kaffeine afspelen
Name[pa]=ਕੈਫ਼ੀਨ ਨਾਲ DVD ਚਲਾਓ
Name[pl]=Odtwarzaj DVD w Kaffeine
Name[pt]=Ver o DVD com o Kaffeine
Name[pt_BR]=Reproduzir DVD com o Kaffeine
Name[ro]=Redare DVD cu Kaffeine
Name[ru]=Воспроизвести DVD в Kaffeine
Name[sk]=Prehrať DVD v Kaffeine
Name[sl]=Predvajaj DVD v programu Kaffeine
Name[sq]=Luaj DVD me Kaffeine
Name[sr]=Пусти ДВД Кафеином
Name[sr@ijekavian]=Пусти ДВД Кафеином
Name[sr@ijekavianlatin]=Pusti DVD Kaffeineom
Name[sr@latin]=Pusti DVD Kaffeineom
Name[sv]=Spela dvd med Kaffeine
Name[tg]=Намоиши DVD бо Kaffeine
Name[th]=เล่นแผ่นดีวีดีด้วย 'แคฟเฟอีน-K'
Name[tr]=DVD'yi Kaffeine ile Oynat
Name[ug]=CD نى Kaffeine دا قويۇش
Name[uk]=Відтворити DVD за допомогою Kaffeine
Name[x-test]=xxPlay DVD with Kaffeinexx
Name[zh_CN]=用 Kaffeine 播放 DVD
Name[zh_TW]=用 Kaffeine 播放 DVD
Exec=kaffeine --dvd %d
Icon=kaffeine
