[Desktop Entry]
Type=Service
Actions=PlayAudioCd;
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'Audio'

[Desktop Action PlayAudioCd]
Name=Play Audio CD with Kaffeine
Name[x-test]=xxPlay Audio CD with Kaffeinexx
Exec=kaffeine --audiocd %f
Icon=kaffeine
