[Desktop Entry]
Type=Service
Actions=PlayAudioCd;
X-KDE-Solid-Predicate=[OpticalDisc.availableContent == 'Audio']

[Desktop Action PlayAudioCd]
Name=Play Audio CD with Kaffeine
Name[bg]=Възпроизвеждане на аудио CD с Kaffeine
Name[csb]=Grôj Aùdio CD w Kaffeine
Name[el]=Αναπαραγωγή CD ήχου με το Kaffeine
Name[es]=Reproducir CD de audio con Kaffeine
Name[et]=Esita audio-CD Kaffeine'is
Name[fi]=Soita musiikki-cd Kaffeinessa
Name[fr]=Lire un CD Audio avec Kaffeine
Name[ga]=Seinn Dlúthdhiosca Fuaime le Kaffeine
Name[gl]=Reproducir o CD de música con Kaffeine
Name[it]=Riproduci CD audio con Kaffeine
Name[km]=ចាក់​ស៊ីឌី​អូឌីយ៉ូ​ជាមួយ Kaffeine
Name[ko]=Kaffeine으로 오디오 CD 재생하기
Name[lt]=Groti Audio CD su Kaffeine
Name[lv]=Atskaņot Audio CD ar Kaffeine
Name[nds]=Klang-CD mit Kaffeine afspelen
Name[ne]=क्याफिनसँग अडियो सीडी प्ले गर्नुहोस्
Name[nl]=Audio-cd met Kaffeine afspelen
Name[pl]=Odtwarzaj audio CD w Kaffeine
Name[pt]=Tocar o CD de Áudio com o Kaffeine
Name[pt_BR]=Tocar o CD de Áudio com o Kaffeine
Name[ro]=Redare Disc audio cu Kaffeine
Name[sv]=Spela ljud-cd med Kaffeine
Name[tg]=Навозиши диски аудио бо Kaffeine
Name[tr]=Kaffeine ile Ses CDsi Çal
Name[uk]=Відтворити Аудіо-КД за допомогою Kaffeine
Name[zh_CN]=用 Kaffeine 播放音频 CD
Exec=kaffeine --audiocd %f
Icon=kaffeine
