[Desktop Entry]
Type=Service
Actions=PlayVideoCd;
X-KDE-Solid-Predicate=[OpticalDisc.availableContent == 'VideoCd|SuperVideoCd']

[Desktop Action PlayVideoCd]
Name=Play Video CD with Kaffeine
Name[pt]=Ver o CD de Vídeo com o Kaffeine
Name[pt_BR]=Ver o CD de Vídeo com o Kaffeine
Name[sv]=Spela video-cd med Kaffeine
Name[uk]=Відтворити відео-КД за допомогою Kaffeine
Exec=kaffeine4 --videocd %f
Icon=kaffeine4
