[Desktop Entry]
Type=Service
Actions=PlayVideoCd;
X-KDE-Solid-Predicate=[OpticalDisc.availableContent & 'VideoCd' OR OpticalDisc.availableContent & 'SuperVideoCd']

[Desktop Action PlayVideoCd]
Name=Play Video CD with Kaffeine
Name[x-test]=xxPlay Video CD with Kaffeinexx
Exec=kaffeine --videocd %f
Icon=kaffeine
