[Desktop Entry]
Type=Service
Actions=PlayDVD;
X-KDE-Solid-Predicate=OpticalDisc.availableContent & 'VideoDvd'

[Desktop Action PlayDVD]
Name=Play DVD with Kaffeine
Name[x-test]=xxPlay DVD with Kaffeinexx
Exec=kaffeine --dvd %f
Icon=kaffeine
