*_automoc.cpp*
*.gmo
*.shell
*DependInfo.cmake
*CTestTestfile.cmake
*cmake_install.cmake
*cmake_uninstall.cmake
*ecm_uninstall.cmake
CMakeCache.txt
CMakeFiles/
CMakeTmp/
config-kaffeine.h
dtvdaemon/dtvdaemon
i18n/
install/
Makefile
moc*.cpp
po/
src/kaffeine
