*.gmo
*.shell
*CTestTestfile.cmake
*DependInfo.cmake
*_automoc.cpp*
*cmake_install.cmake
*cmake_uninstall.cmake
*ecm_uninstall.cmake
CMakeCache.txt
CMakeFiles/
CMakeTmp/
Makefile
config-kaffeine.h
doc/index.html
doc/kaffeine.1
dtvdaemon/dtvdaemon
i18n/
install/
moc*.cpp
po/
src/kaffeine
src/kaffeine.qrc.depends
src/qrc_kaffeine.cpp
