[Desktop Entry]
Name=Kaffeine
Name[ne]=क्याफिन
Name[pa]=ਕੈਫ਼ੀਨ
Name[x-test]=xxKaffeinexx
Exec=kaffeine4 %U
GenericName=Media Player
GenericName[bg]=Медия плеър
GenericName[cs]=Přehrávač médií
GenericName[csb]=Mùltimedialny grôcz
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[es]=Reproductor de medios
GenericName[et]=Meediafailide mängija
GenericName[fi]=Mediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[ga]=Seinnteoir Meán
GenericName[gl]=Reprodutor multimedia
GenericName[hi]=मीडिया-प्लेयर
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤー
GenericName[km]=កម្មវិធី​ចាក់​មេឌៀ
GenericName[ko]=미디어 재생기
GenericName[lv]=Mediju atskaņotājs
GenericName[nb]=Mediespiller
GenericName[nds]=Medienafspeler
GenericName[ne]=मिडिया प्लेयर
GenericName[nl]=Mediaspeler
GenericName[nn]=Mediespelar
GenericName[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor de mídias
GenericName[ro]=Redare multimedia
GenericName[ru]=Проигрыватель мультимедиа
GenericName[sv]=Mediaspelare
GenericName[tg]=Навозишгари Медиа
GenericName[tr]=Çokluortam Oynatıcı
GenericName[uk]=Програвач мультимедіа
GenericName[x-test]=xxMedia Playerxx
GenericName[zh_CN]=媒体播放器
Categories=Qt;KDE;AudioVideo;Player;
Icon=kaffeine4
MimeType=application/x-ogg;audio/basic;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-ogg;audio/x-pn-realaudio;audio/x-pn-realaudio-plugin;audio/x-scpls;audio/x-wav;audio/x-flac;video/x-matroska;audio/x-matroska;video/mpeg;video/msvideo;video/quicktime;video/vnd.rn-realvideo;video/x-avi;video/x-fli;video/x-flic;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;application/x-mplayer2;application/smil;application/x-kaffeine;audio/x-musepack;audio/x-mod;audio/x-stm;application/vnd.rn-realmedia;
Terminal=false
Type=Application
X-KDE-HasTempFileOption=true
#To enable back when doc will be available
#X-DocPath=kaffeine/index.html
X-Desktop-File-Install-Version=0.15
