[Desktop Entry]
Name=Kaffeine
Name[bg]=Kaffeine
Name[bs]=Kaffeine
Name[ca]=Kaffeine
Name[ca@valencia]=Kaffeine
Name[cs]=Kaffeine
Name[csb]=Kaffeine
Name[da]=Kaffeine
Name[de]=Kaffeine
Name[el]=Kaffeine
Name[en_GB]=Kaffeine
Name[eo]=Kaffeine
Name[es]=Kaffeine
Name[et]=Kaffeine
Name[eu]=Kaffeine
Name[fi]=Kaffeine
Name[fr]=Kaffeine
Name[ga]=Kaffeine
Name[gl]=Kaffeine
Name[hne]=कैफीन
Name[hr]=Kaffeine
Name[hu]=Kaffeine
Name[id]=Kaffeine
Name[is]=Kaffeine
Name[it]=Kaffeine
Name[ja]=Kaffeine
Name[km]=Kaffeine
Name[ko]=Kaffeine
Name[ku]=Kaffeine
Name[lt]=Kaffeine
Name[lv]=Kaffeine
Name[mai]=Kaffeine
Name[mr]=केफ्फेन
Name[nb]=Kaffeine
Name[nds]=Kaffeine
Name[ne]=क्याफिन
Name[nl]=Kaffeine
Name[nn]=Kaffeine
Name[pa]=ਕੈਫ਼ੀਨ
Name[pl]=Kaffeine
Name[pt]=Kaffeine
Name[pt_BR]=Kaffeine
Name[ro]=Kaffeine
Name[ru]=Kaffeine
Name[sk]=Kaffeine
Name[sl]=Kaffeine
Name[sq]=Kaffeine
Name[sr]=Кафеин
Name[sr@ijekavian]=Кафеин
Name[sr@ijekavianlatin]=Kaffeine
Name[sr@latin]=Kaffeine
Name[sv]=Kaffeine
Name[tg]=Kaffeine
Name[th]=แคฟเฟอีน-K
Name[tr]=Kaffeine
Name[ug]=Kaffeine
Name[uk]=Kaffeine
Name[x-test]=xxKaffeinexx
Name[zh_CN]=Kaffeine
Name[zh_TW]=Kaffeine
Exec=kaffeine %U
GenericName=Media Player
GenericName[bg]=Медия плеър
GenericName[bs]=Izvođač medija
GenericName[ca]=Reproductor multimèdia
GenericName[ca@valencia]=Reproductor de suports
GenericName[cs]=Přehrávač médií
GenericName[csb]=Mùltimedialny grôcz
GenericName[da]=Medieafspiller
GenericName[de]=Medienwiedergabe
GenericName[el]=Αναπαραγωγέας πολυμέσων
GenericName[en_GB]=Media Player
GenericName[es]=Reproductor de medios
GenericName[et]=Meediafailide mängija
GenericName[eu]=Multimedia-erreproduzitzailea
GenericName[fi]=Mediasoitin
GenericName[fr]=Lecteur multimédia
GenericName[ga]=Seinnteoir Meán
GenericName[gl]=Reprodutor multimedia
GenericName[hi]=मीडिया-प्लेयर
GenericName[hne]=मीडिया-प्लेयर
GenericName[hr]=Svirač medija
GenericName[hu]=Médialejátszó
GenericName[id]=Pemutar Media
GenericName[is]=Margmiðlunarspilari
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤー
GenericName[km]=កម្មវិធី​ចាក់​មេឌៀ
GenericName[ko]=미디어 재생기
GenericName[ku]=Lêdarê Medya
GenericName[lt]=Media grotuvas
GenericName[lv]=Mediju atskaņotājs
GenericName[mai]=मीडिया-प्लेयर
GenericName[mr]=मीडिया प्लेयर
GenericName[nb]=Mediespiller
GenericName[nds]=Medienafspeler
GenericName[ne]=मिडिया प्लेयर
GenericName[nl]=Mediaspeler
GenericName[nn]=Mediespelar
GenericName[oc]=Media Player
GenericName[pa]=ਮੀਡਿਆ ਪਲੇਅਰ
GenericName[pl]=Odtwarzacz multimedialny
GenericName[pt]=Leitor Multimédia
GenericName[pt_BR]=Reprodutor de mídia
GenericName[ro]=Redare multimedia
GenericName[ru]=Медиаплеер
GenericName[sk]=Mediálny prehrávač
GenericName[sl]=Predstavnostni predvajalnik
GenericName[sq]=Luaj Media
GenericName[sr]=Медија плејер
GenericName[sr@ijekavian]=Медија плејер
GenericName[sr@ijekavianlatin]=Medija plejer
GenericName[sr@latin]=Medija plejer
GenericName[sv]=Mediaspelare
GenericName[tg]=Навозишгари Медиа
GenericName[th]=เครื่องเล่นสื่อ
GenericName[tr]=Ortam Oynatıcı
GenericName[ug]=ۋاسىتە قويغۇ
GenericName[uk]=Програвач мультимедіа
GenericName[x-test]=xxMedia Playerxx
GenericName[zh_CN]=媒体播放器
GenericName[zh_TW]=媒體播放器
Categories=Qt;KDE;AudioVideo;Player;
Icon=kaffeine
MimeType=application/ogg;application/ram;application/vnd.rn-realmedia;application/x-quicktime-media-link;application/x-shorten;application/xspf+xml;audio/ac3;audio/basic;audio/flac;audio/mp4;audio/mpeg;audio/ogg;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-it;audio/x-m4b;audio/x-matroska;audio/x-mod;audio/x-mpegurl;audio/x-ms-asx;audio/x-ms-wma;audio/x-musepack;audio/x-s3m;audio/x-scpls;audio/x-stm;audio/x-tta;audio/x-voc;audio/x-wav;audio/x-wavpack;audio/x-xm;video/dv;video/mp2t;video/mp4;video/mpeg;video/ogg;video/quicktime;video/vnd.rn-realvideo;video/x-anim;video/x-flic;video/x-flv;video/x-matroska;video/x-mng;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-ogm+ogg;
Terminal=false
Type=Application
X-KDE-HasTempFileOption=true
#Change back to Kaffeine/index.html when docbooks will be available
X-DocPath=http://userbase.kde.org/Kaffeine
X-Desktop-File-Install-Version=0.15
