[Desktop Entry]
Name=Kaffeine
Name[x-test]=xxKaffeinexx
Exec=kaffeine %U
GenericName=Media Player
GenericName[x-test]=xxMedia Playerxx
Categories=Qt;KDE;AudioVideo;Player;
Icon=kaffeine
MimeType=application/ogg;application/ram;application/vnd.rn-realmedia;application/x-quicktime-media-link;application/x-shorten;application/xspf+xml;audio/ac3;audio/basic;audio/mp4;audio/mpeg;audio/ogg;audio/vnd.rn-realaudio;audio/x-aiff;audio/x-flac;audio/x-it;audio/x-m4b;audio/x-matroska;audio/x-mod;audio/x-mpegurl;audio/x-ms-asx;audio/x-ms-wma;audio/x-musepack;audio/x-s3m;audio/x-scpls;audio/x-speex;audio/x-stm;audio/x-tta;audio/x-voc;audio/x-wav;audio/x-wavpack;audio/x-xm;video/dv;video/mp2t;video/mp4;video/mpeg;video/ogg;video/quicktime;video/vnd.rn-realvideo;video/x-anim;video/x-flic;video/x-flv;video/x-matroska;video/x-mng;video/x-ms-asf;video/x-ms-wmv;video/x-msvideo;video/x-nsv;video/x-ogm+ogg;
Terminal=false
Type=Application
X-KDE-HasTempFileOption=true
#To enable back when doc will be available
#X-DocPath=kaffeine/index.html
X-Desktop-File-Install-Version=0.15
